{% extends "layout.html" %}

{% block body %}
<div class="container">
    <h1>Login here!</h1>
    <form action="" method="POST">
        <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="Username" required>
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password" required>
        </div>

        <button class="btn" type="submit">Submit</button>
    </form>
</div>
{% endblock %}