{% extends "layout.html" %}
{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/ZdcFOgFi1Dg">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Preacher Dumbbel Hammer Curl</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/UeleXjsE-98">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Incline Dumbbell curl</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        </div>
    </div>
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/LHDwya1KY8M">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Seated Concentration Curl</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/pwEhS1sg9mU">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Dumbbell Preacher Curl</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        </div>
    </div>
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/cOBaYeX3bYo">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Supinated Barbell Wrist Curl</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/cOBaYeX3bYo">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Dumbbell Farmers Carry</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        </div>
    </div>
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/LzwgB15UdO8">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Rope Tricep Extension</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/K6MSN4hCDM4">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">EZ Bar Skullcrusher</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        </div>
    </div>
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/K6MSN4hCDM4">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Close Grip Benchpress</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/eS72lln_EWA">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Banded Tricep Extension</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        </div>
    </div>
</section>
{% endblock %}