{% extends "layout.html" %}
{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/iKrKgWR9wbY">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Lat Pulldown</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/hlxb2zthgUw">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Rope Straight Arm Pulldown</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        </div>
    </div>
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/poyr8KenUfc">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Pull ups</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/1EJ3A3rEtlo">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Chin ups</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        </div>
    </div>
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/paCfxhgW6bI">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Bent Over Row</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/kHW23afzaUs">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Machine T-bar Row</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        </div>
    </div>
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/EDhJ_FTlaXA">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Pendlay Row</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/6hNudn7Peco">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Barbell Shrugs</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        </div>
    </div>
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/vH4e0VHGJZc">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Weighted Inverted Row</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/ReZfge-JG7g">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Double Arm Sled drag</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        </div>
    </div>
</section>
{% endblock %}