{% extends 'layout.html' %}

{% block content %}
<div class="bg-gray-200">
<nav class="pt-10 pl-36">
    <a href="{{url_for('create')}}" class="font-medium text-4xl text-white bg-blue-900 rounded font-serif px-5 py-3 hover:bg-blue-500">Create new post!</a>
</nav>
    {% for post in posts %}
        <div class="my-10 mx-36 py-5 px-2 border-2 border-blue-900 bg-gray-100 rounded">
            <p class='font-light font-serif mb-2 text-xl'>{{ post['author'] }}</p>
            <h2 class="font-medium font-serif text-2xl text-blue-900 my-2">{{ post['title'] }}</h2>
            <p class='font-light font-serif mb-2 '>{{ post['content'] }}</p>
            <a href="{{url_for('edit', id=post['id'])}}" class="my-20 bg-blue-900 hover:bg-blue-700 text-white py-2 px-4 font-serif rounded">Edit</a>
        </div>
    {% endfor %}
</div>
{% endblock %}