{% extends "layout.html" %}
{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/Yh5TXz99xwY">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Seated Calf Raise</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/RcKQbiL-ZOc">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Leg Press Calf Raise</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        </div>
    </div>
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/RBslMmWqzzE">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Standing Machine Calf Raise</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/GNNggarciHY">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Seated Calf Raises (Toes in)</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        </div>
    </div>
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/gOV7XZyUv6Y">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Banded Tibialis Raise</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/XSqj0O6ARMs">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Jump Rope</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        </div>
    </div>
</section>
{% endblock %}