{% extends "layout.html" %}
{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/tuwHzzPdaGc">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Barbell Benchpress</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/dGqI0Z5ul4k">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Dumbbell Benchpress</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        </div>
    </div>
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/uIzbJX5EVIY">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Incline Barbell Benchpress</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/8nNi8jbbUPE">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Incline Dumbbell Benchpress</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        </div>
    </div>
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/oIgci8aNsG0">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Decline Benchpress </h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/5pDbtYmX5fM">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Decline Dumbbell Benchpress </h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        </div>
    </div>
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/dMQdd40Y3FQ">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Hammer Strength Benchpress</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/OPYrUGZL8nU">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Cable Fly</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        </div>
    </div>
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/KEFQyLkDYtI">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Push-ups</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/zrnnlaC0kew">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Seated Incline Cable Fly</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        </div>
    </div>
</section>
{% endblock %}