{% extends 'layout.html' %}

{% block content %}
<section class="pl-36 pb-20">

    <h1 class="py-10 font-medium text-4xl text-blue-900 font-serif">
        Add a new post</h1>  

    <div
        class="flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-neutral-300 after:mt-0.5 after:flex-1 after:border-t after:border-neutral-300">
    </div>

    <form method="post" class="py-10">
        <label for="author" class="font-serif text-2xl text-blue-900">Author</label>
        <br>
        <input type="text" name="author"
                placeholder="Author"
                class="border-1"
                value="{{ request.form['title'] }}"></input>
        <br>
        <label for="title" class="font-serif text-2xl text-blue-900">Title</label>
        <br>
        <input type="text" name="title"
                placeholder="Post title"
                class="border-1"
                value="{{ request.form['title'] }}"></input>
        <br>

        <label for="content" class="font-serif text-2xl text-blue-900">Post Content</label>
        <br>
        <textarea name="content"
                    placeholder="Post content"
                    rows="15"
                    cols="60"
                    class="border-gray-200"
                    >{{ request.form['content'] }}</textarea>
        <br>
        <button type="submit" class="bg-blue-900 hover:bg-blue-700 text-white py-2 px-4 font-serif rounded">Submit</button>
    </form>
</section>
{% endblock %}