{% extends 'layout.html' %}

{% block content %}
<section class="pl-36 py-10">
    <h1 class="font-medium text-4xl text-blue-900 font-serif">{% block title %} Edit "{{ post['title'] }}" {% endblock %}</h1>
    <form method="post">
        <label for="author" class="font-serif text-2xl text-blue-900 pb-10">Author</label>
        <br>
        <input type="text" name="author"
               placeholder="Author"
               value="{{ request.form['author'] or post['author'] }}"></input>
        <br>
        <label for="title" class="font-serif text-2xl text-blue-900 pb-10">Title</label>
        <br>
        <input type="text" name="title"
               placeholder="Post title"
               value="{{ request.form['title'] or post['title'] }}"></input>
        <br>

        <label for="content" class="font-serif text-2xl text-blue-900">Post Content</label>
        <br>
        <textarea name="content"
                  placeholder="Post content"
                  rows="15"
                  cols="60"
                  >{{ request.form['content'] or post['content'] }}</textarea>
        <br>
        <button type="submit" class="bg-blue-900 hover:bg-blue-700 text-white py-2 px-4 font-serif rounded">Submit</button>
    </form>

    <div
        class="flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-neutral-300 after:mt-0.5 after:flex-1 after:border-t after:border-neutral-300 py-10">
    </div>
    
    <form action="{{ url_for('delete', id=post['id']) }}" method="POST" class="bg-blue-900 hover:bg-blue-700 text-white py-2 px-4 font-serif rounded text-center w-36">
        <input type="submit" value="Delete Post"
                onclick="return confirm('Are you sure you want to delete this post?')">
    </form>
</section>
{% endblock %}