{% extends "layout.html" %}

{% block content %}
<!-- ====== Cards Section Start -->
<section class="px-28 bg-gray-200">
    <h1 class="font-serif text-blue-900 text-4xl font-light py-10 ">Generate your workout!</h1>
    <h2 class="font-serif text-black text-xl font-light ">
        Please select from the following options to build your bespoke workout! once you have made your selcetions please press submit
    </h2>
<form class="pt-10 pb-10">
    <div class="container mx-auto">
      <div class="-mx-4 flex flex-wrap">
        <div class="w-full px-4 md:w-1/2 xl:w-1/3">
          <div class="mb-10 overflow-hidden rounded-lg bg-gray-100">
            <div class="p-8 text-left sm:p-9 md:p-7 xl:p-9">
              <h3>
                <a
                  href="javascript:void(0)"
                  class="text-dark hover:text-primary mb-4 block text-xl font-semibold sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px]"
                >
                  Select the muscle group(s) you want to train!
                </a>
              </h3>
                <input type="checkbox" id="chest" name="chest" value="Chest">
                <label for="chest"> Chest</label><br>
                <input type="checkbox" id="back" name="back" value="Back">
                <label for="back"> Back</label><br>
                <input type="checkbox" id="shoulders" name="shoulders" value="Shoulders">
                <label for="shoulders"> Shoulders</label><br>
                <input type="checkbox" id="arms" name="arms" value="Arms">
                <label for="arms"> Arms</label><br>
                <input type="checkbox" id="quads" name="quads" value="Quads">
                <label for="quads"> Quads</label><br>
                <input type="checkbox" id="hamstrings" name="hamstrings" value="Hamstrings">
                <label for="hamstrings"> Hamstrings</label><br>
                <input type="checkbox" id="Calves" name="Calves" value="Calves">
                <label for="Calves"> Calves</label><br>
                <input type="checkbox" id="abs" name="abs" value="Abdominal">
                <label for="abs"> Abdominal</label><br><br>
            </div>
          </div>
        </div>
        <div class="w-full px-4 md:w-1/2 xl:w-1/3">
          <div class="mb-10 overflow-hidden rounded-lg bg-gray-100">
            <div class="p-8 text-left sm:p-9 md:p-7 xl:p-9">
              <h3>
                <a
                  href="javascript:void(0)"
                  class="text-dark hover:text-primary mb-4 block text-xl font-semibold sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px]"
                >
                  Select the rep range you want to work within!
                </a>
              </h3>
              <input type="checkbox" id="rep1" name="rep1" value="rep1">
                <label for="rep1"> 1 - 3 </label><br>
                <input type="checkbox" id="rep2" name="rep2" value="rep2">
                <label for="rep2"> 3 - 6</label><br>
                <input type="checkbox" id="rep3" name="rep3" value="rep3">
                <label for="rep3"> 6 - 8</label><br>
                <input type="checkbox" id="rep4" name="rep4" value="rep4">
                <label for="rep4"> 8 - 12 </label><br>
                <input type="checkbox" id="rep5" name="rep5" value="rep5">
                <label for="rep5"> 12 - 15 </label><br>
                <input type="checkbox" id="rep6" name="rep6" value="rep6">
                <label for="rep6"> 15 - 20 </label><br><br>
            </div>
          </div>
        </div>
        <div class="w-full px-4 md:w-1/2 xl:w-1/3">
          <div class="mb-10 overflow-hidden rounded-lg bg-gray-100">
            <div class="p-8 text-left sm:p-9 md:p-7 xl:p-9">
              <h3>
                <a
                  href="javascript:void(0)"
                  class="text-dark hover:text-primary mb-4 block text-xl font-semibold sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px]"
                >
                  Select your fitness level!
                </a>
              </h3>
              <input type="checkbox" id="beginner" name="beginner" value="beginner">
                <label for="beginner"> Beginner (less than 6 months) </label><br>
                <input type="checkbox" id="intermediate" name="intermediate" value="intermediate">
                <label for="intermediate"> Intermediate (6 months - 2 years)</label><br>
                <input type="checkbox" id="expert" name="expert" value="expert">
                <label for="expert"> Expert ( more than 2 years) </label><br><br>
            </div>
          </div>
        </div>
        <input type="submit" class="rounded bg-blue-900 px-5 py-2 mx-4 font-serif text-xl text-white">
      </div>
    </div>
</form>
</section>
  <!-- ====== Cards Section End -->
{% endblock content %}
