<!DOCTYPE html>
<html>
<head>
    {% if title %}
		<title>WorkOut With AI - {{ title }}</title>
	{% else %}
		<title>Workout With AI</title>
	{% endif %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>
<header>
    <div>
        <nav class="bg-blue-900 py-8 px-28">
            <div class="mx-auto">
                <div class="flex items-center justify-between h-16">
                    <div class=" flex items-center">
                        <a class="font-serif text-gray-50 font-light text-4xl pl-8" href="{{url_for('home')}}">
                            Workout with AI
                        </a>
                    </div>
                    <div class="block">
                        <div class="flex items-center ml-4  md:ml-6"><a class="text-gray-50 px-3 py-2 font-serif font-light text-xl pr-20" href="{{url_for('blog')}}">
                            Blog
                        </a>
                            <a class="text-gray-50 px-3 py-2 font-serif font-light text-xl pr-20" href="{{url_for('videoLibrary')}}">
                                Video Library
                            </a>
                            <div class="relative ml-3">
                                <div>
                                </div>
                                <div class="relative inline-block text-left">
                                    <div>
                                        <a class="text-gray-50 px-2 py-2 font-serif font-light text-xl pr-20" href="{{url_for('login')}}">
                                            Login
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </nav>
    </div>
</header>
<body>
    {% block content %} 
        {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
        {% endfor %}
    {% endblock %}
</body>
<footer class="bottom-0 static w-full bg-blue-900">
    <div class="container py-10 mx-auto flex items-center sm:flex-row flex-col bg-blue-900">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <span class="ml-3 text-xl text-gray-50 font-serif">Workout with AI</span>
      </a>
      <p class="text-sm text-gray-50 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2023 Workout with AI —
        <p class="text-gray-50"> Joseph Bennett</p>
      </p>
    </div>
</footer>
</html>