{% extends "layout.html" %}
{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/R2dMsNhN3DE">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Barbell Back Squat</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/R2dMsNhN3DE">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Barbell Front Squat</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        </div>
    </div>
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/5Y3KW5rWMh4">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Dumbbell Goblin Squat</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/0fl1RRgJ83I">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Seated Leg Extension</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        </div>
    </div>
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/sEM_zo9w2ss">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Leg Press</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/63tboDKQksc">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Machine Hack Squat</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        </div>
    </div>
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/Ix9QZ3Pnneo">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Dumbbell Reverse Lunge</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/uqI3GVwfToU">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Dumbbell Bulgarian Split Squats</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        </div>
    </div>
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/BtfMX4WqUBo">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Smith Machine Back Squat</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-80 overflow-hidden">
                <iframe class="w-full h-full"
                src="https://www.youtube.com/embed/4roeIJ-zfwM">
                </iframe>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Zercher Squat</h2>
            <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
        </div>
        </div>
    </div>
</section>
{% endblock %}