{% extends "layout.html" %}

{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full hover:bg-gray-200">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="chest image" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/421x261&text=Chest">
          </a>
          <div class="mt-4 text-center">
            <a class="text-white bg-blue-900 font-serif text-lg font-light text-center rounded py-2 px-36 hover:bg-blue-700" href="{{url_for('chestVideos')}}" >Chest</a>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full hover:bg-gray-200">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/421x261&text=Shoulders">
          </a>
          <div class="mt-4 text-center">
            <a class="text-white bg-blue-900 font-serif text-lg font-light text-center rounded py-2 px-32 hover:bg-blue-700" href="{{url_for('shoulderVideos')}}">Shoulders</a>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full hover:bg-gray-200">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/421x261&text=Back">
          </a>
          <div class="mt-4 text-center">
            <a class="text-white bg-blue-900 font-serif text-lg font-light text-center rounded py-2 px-36 hover:bg-blue-700" href="{{url_for('backVideos')}}">Back</a>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full hover:bg-gray-200">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/421x261&text=Arms">
          </a>
          <div class="mt-4 text-center">
            <a class="text-white bg-blue-900 font-serif text-lg font-light text-center rounded py-2 px-32 hover:bg-blue-700" href="{{url_for('armsVideos')}}">Arms</a>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full hover:bg-gray-200">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/421x261&text=Quads">
          </a>
          <div class="mt-4 text-center">
            <a class="text-white bg-blue-900 font-serif text-lg font-light text-center rounded py-2 px-32 hover:bg-blue-700" href="{{url_for('quadsVideos')}}">Quads</a>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full hover:bg-gray-200">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/421x261&text=Hamstrings">
          </a>
          <div class="mt-4 text-center">
            <a class="text-white bg-blue-900 font-serif text-lg font-light text-center rounded py-2 px-32 hover:bg-blue-700" href="{{url_for('hamstringVideos')}}">Hamstrings</a>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full hover:bg-gray-200">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/421x261&text=Calves">
          </a>
          <div class="mt-4 text-center">
            <a class="text-white bg-blue-900 font-serif text-lg font-light text-center rounded py-2 px-32 hover:bg-blue-700" href="{{url_for('calvesVideos')}}">Calves</a>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full hover:bg-gray-200">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/421x261&text=Abdominal">
          </a>
          <div class="mt-4 text-center">
            <a class="text-white bg-blue-900 font-serif text-lg font-light text-center rounded py-2 px-32 hover:bg-blue-700" href="{{url_for('absVideos')}}">Abdominal</a>     
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock content %}